@(todos: List[Todo], todoForm: Form[String])(implicit messages: Messages)

    @import helper._

@main("Todo List") {
    <h1><p class="bg-success">Todo List</p></h1> <br>
    <h4>残り@todos.size 個</h4>

    <ul>
    <div class="todo-table" style="width:500px;">
    <table class="table table-hover">
    <tbody>
    @todos.map { todo =>
        <tr>
            <td class="col-md-10">@todo.label</td>
            <td class="col-md-2">
                <form style="display: inline" action="@routes.TodoController.deleteTodo(todo.id)" method="post">
                    <button class="btn-sm">DONE</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    </table>
    </div>
    </ul>

    <br> <hr>
    <h4>タスクを追加</h4>

    @form(routes.TodoController.newTodo()) {

        <div class="col-xs-4">
            <input type="text" class="form-control" name="label" value="@todoForm("label").value">
        </div>

        <input type="submit" class="btn btn-success btn-md todo-action-button" value="ADD">
        <p>
        @(todoForm.error("label") match {
            case Some(error) => error.message
            case None =>
        })
        </p>
    }
}


